body {
  font-family: Arial, sans-serif;
}
.calendar {
  max-width: 500px;
  height: 500px;
  /* background-color: white; */
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.prev, .next {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#month-year {
  font-size: 20px;
}

#calendar-table {
  width: 100%;
  height: 350px;
}

#calendar-table th {
  padding: 5px;
  background-color: #f0f0f0;
}

#calendar-table td {
  padding: 5px;
  text-align: center;
}

#calendar-table td:hover {
  background-color: #f0f0f0;
}

