body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 5px;
}
h1 {
    text-align: center;
    color: #333;
}
.form-container {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea,
.form-group input[type="file"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="number"] {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="radio"] {
    margin-right: 5px;
}

.form-group input[type="submit"] {
    background-image: linear-gradient(to right, #3148b1, #382fb6, #42299c);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-image: linear-gradient(to right, #3c58d6, #4136d3, #623bf0);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-back {
	background-image: linear-gradient(to right, #31b186, #2fb689, #299c76);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-back:hover {
	background-image: linear-gradient(to right, #3de0aa, #3de4ac, #47ecb5);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
